.ipynb_checkpoints
Bell_EBM_HATS-70b.ipynb
Bell_EBM_eccentric.ipynb
Bell_EBM_verify.ipynb
saves
.gitignore.swp
Bell_EBM_WASP12b.ipynb
Bell_EBM_WASP12b_Looped.ipynb
Testing FSSI.ipynb
Bell_EBM/*.pyc
Bell_EBM/__pycache__
